*.ckpt
*.out
*.log
logs/
eval_bf/
wandb/
__pycache__/
bf_viz/
chunkviz_bf/
emimic/
emimic.egg-info/
pyproject.bak
egomimic/algo/pi_checkpoints/*
egomimic/scripts/tsne/*
lerobot_test/
**/lerobot_test/
**/lerobot_test/**
**/robot/models/**
**/robot/models/
external/scale/scripts/datasets
_turbojpeg_lib/
external/scale/scripts/scale_data/
*.zarr
**/*.zarr
.codex
annotations/**
annotations_test/**
log_conversion/**
debug_model_inputs/**
temp_dir/**
scratch/
sample_data/
external_ckpts/
external/MANO/
