[submodule "external/rldb"]
	path = external/rldb
	url = git@github.com:GaTech-RL2/rldb.git
[submodule "external/oculus_reader"]
	path = external/oculus_reader
	url = https://github.com/rail-berkeley/oculus_reader.git
